@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  @include mq('tablet') {
    width: 100%;
  }
}

.logo {
  //align the logo to centre of the page

}

.titleContainer {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.title {
  color: $color;
  font-size: $title-font-size;

  margin-left: 1rem;
  margin-top: 1rem;
  @include mq('mobile') {
    font-size: $title-mobile-font-size;
    margin-right: 0;
    width: 100%;
  }
}

.pageHref {
  text-decoration: none;
  font-size: $title-mobile-font-size;
  color: $color;
  font-weight: 600;

  &:hover {
    color: $country-color;
  }

  @include mq('mobile') {
    margin-right: -40px;
  }
}

.icon {
  width: 62px;
  height: 62px;
}
