@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.card {
  background-color: $card-bg;
  position: relative;
  width: 360px;
  height: 180px;
  margin: 0 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq('mobile') {
    margin-top: 20px;
    width: 340px;
  }

  & + & {
    @include mq('mobile') {
      margin-top: 120px;
      width: 340px;
    }
  }

  @include mq('tablet') {
    width: 250px;
    height: 125px;
  }
}

.title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;

  @include mq('tablet') {
    font-size: 30px;
  }
}

.description {
  font-size: 24px;
  font-weight: $title-font-weight;
}

.cases {
  color: $tangerine-color;
}

.deaths {
  color: $red-color;
}

.recovered {
  color: $green-color;
}

.info {
  color: $greyish-color;
  font-size: 16px;
  position: absolute;
  bottom: -80px;
  text-align: center;
  line-height: 23px;
  font-weight: 300;

  @include mq('tablet') {
    bottom: -80px;
  }
}

.country {
  color: $country-color;
  font-weight: 700;
  font-size: 18px;
}

.highlight {
  color: $color;
  font-weight: 700;
  font-size: 18px;
}
