$primary: #381054;
$color: #fff;
$grey-color: rgb(203, 211, 223);
$greyish-color: rgb(226, 232, 240);
$country-color: #ff5874;
$green-color: #a2f218;
$red-color: #e23428;
$tangerine-color: #f99462;
$title-font-size: 44px;
$title-mobile-font-size: 16px;
$title-font-weight: 700;
$photo-width: 120px;
$photo-height: 120px;
$card-bg: rgb(0, 0, 65);
$protection-card-bg: rgb(39, 44, 56);
